@import "src/assets/styles/mixins";
@import "src/assets/styles/variables";
.App-nav {
  display: flex;
  height: 70px;
  column-gap: 30px;
  margin-right: auto;
  &-link {
    @include flex-vh;
    height: 100%;
    padding: 0 5px;
    color: rgba($text-main, 0.57);
    text-transform: uppercase;
    text-decoration: none;
    border-top: 3px solid transparent;
    &:hover,
    &__active {
      color: $text-main;
      border-top-color: $main-green;
      background: linear-gradient(180deg, #232323 0%, #151515 100%);
      box-shadow: 0px 13px 33px 0px rgba(0, 0, 0, 0.3) inset;
    }
  }
}