@import "../../assets/styles/mixins";

.user-bar-lang.active {
  div[class*='langCurrent'] {
    border: 1px solid #484848;
    border-bottom: 1px solid transparent;
    border-radius: 3px 3px 0 0;
    background: #2F2F2F;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.55);
  }
  ul[class*='langList'] {
    display: flex;
  }
}