@import "src/assets/styles/mixins";

.boost-label {
  @include flex-v;
  color: #F9C336!important;
  font-size: 12px;
  font-weight: 600;
  svg {
    width: 9px;
    height: 13px;
    margin: 0 4px 0 0;
    path {
      fill: #F9C336;
    }
  }
}