@import "src/assets/styles/mixins";

.country-details {
  padding: 4px 3px;
  &.opened {
    .country-details-title {
      svg.arrow {
        transform: rotate(0deg);
        path {
          fill: #fff;
        }
      }
    }
  }
  &-title {
    @include flex-v;
    height: 36px;
    padding: 0 7px;
    cursor: pointer;
    & + & {
      margin-top: 5px;
    }
    svg:first-child {
      margin: 0 8px 0 0;
    }
    p {
      color: #FFFFFF;
      font-size: 12px;
      font-weight: 400;
      margin-right: auto;
    }
    svg.arrow {
      transform: rotate(90deg);
      path {
        fill: #91939D;
      }
    }
  }
  &-list {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    li {
      @include flex-v;
      justify-content: space-between;
      height: 36px;
      padding: 0 10px 0 7px;
      color: #FFF;
      font-size: 12px;
      font-weight: 400;
      border-radius: 2px 2px 0px 0px;
      background: #1B1B1B;
    }
  }
}