@import "src/assets/styles/mixins";

.weekend-list {
  display: flex;
  justify-content: center;
  height: 53px;
  border: 1px solid #282828;
  background: var(--main-gradient, linear-gradient(180deg, #232323 0%, #151515 100%));
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  &-item {
    position: relative;
    @include flex-vh;
    width: 100%;
    max-width: 175px;
    height: 100%;
    background: linear-gradient(180deg, #3E3E3E 0%, #131313 100%);
    box-shadow: 0px 4px 4px 0px #00000040;
    transform: skewX(-10deg);
    &::before {
      content: '';
      position: absolute;
      left: -1px;
      width: 1px;
      height: 100%;
      background: #161616;
      box-shadow: -1px 0px 0px 0px #FFFFFF08;
    }
    &.active,
    &:hover {
      border-top: 2px solid #55AD57;
      background: linear-gradient(186.9deg, rgba(92, 92, 92, 0.57) 29.75%, rgba(46, 46, 46, 0.57) 90.27%);
      box-shadow: 0px 4px 33px 0px rgba(0, 0, 0, 0.09) inset, 0px 2px 0px 0px #55AD57 inset;
      span {
        margin-top: 0;
      }
    }
    span {
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.2270604521036148px;
      color: #fff;
      margin-top: 2px;
      transform: skewX(10deg);
    }
  }
}