@import "variables";
@import "mixins";

html,body {
  height: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  background: $bg-body;
}
.btn {
  @include flex-vh;
  padding: 0 8px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 2.796px;
  cursor: pointer;
  &-green {
    color: $text-main;
    background: linear-gradient(180deg, #54B052 0%, #287226 100%);
  }
  &-red {
    background: linear-gradient(180deg, #C50F2D 0%, #571114 100%);
  }
}